In [1]:
#All the required required modules to build a recommendation system for the given data. 
import pandas as pd 
import numpy as np
import re
import string
import enchant
from googletrans import Translator
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer

Reading Movies Metadata

In [2]:
movies_data = pd.read_csv('movies_metadata.csv', header = 0)

C:\Users\Vinay\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
movies_data.columns# Column names or feature names

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Now getting required columns to build  the recommendation system.

In [4]:
data = movies_data[['title', 'original_title', 'tagline', 'overview', 'genres']]

Now, checking number rows/data points and Features. 
Head: Getting first 5 rows of the data

In [5]:
print('Number of data points: {0} , Number of Features: {1}'.format(data.shape[0], data.shape[1]))
data.head()

Number of data points: 45466 , Number of Features: 5

,title,original_title,tagline,overview,genres
0,Toy Story,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

In [6]:
# Print column names or feature names Total of 4 features. 
data.columns

Index(['title', 'original_title', 'tagline', 'overview', 'genres'], dtype='object')

Title and Original title(translated): The name of the movie.
Tagline : One line or sentence explaination of the Movie. 
Overview : A detailed review about the act in the Movie. 
Genre: What style or category of music, picuture is Movie related to.

    Now lets check if there's any repeatation in title for the given data

In [7]:
print(sum(data['title'].value_counts().to_frame('count')['count'] > 1))
print(data['title'].value_counts())
#There are total of 2330 duplicate titles.

2330
Cinderella                          11
Alice in Wonderland                  9
Hamlet                               9
Beauty and the Beast                 8
Les MisÃ©rables                       8
                                    ..
Kids                                 1
Stepmom                              1
Robin Williams: Live on Broadway     1
Night Will Fall                      1
Welcome to Hard Times                1
Name: title, Length: 42277, dtype: int64

Now let's try to remove them

In [8]:
data.drop_duplicates(subset = 'title', keep = 'first' , inplace = True)
data.reset_index(drop = True, inplace = True)

C:\Users\Vinay\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
data.head()

,title,original_title,tagline,overview,genres
0,Toy Story,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

Converting strings to lower case so that the search of duplicates can be easy. 
Sometimes, Duplicates cannot be found when one string is in lower format and the other is in upper format. 
So converting them into lower.

In [10]:
for i in range(len(data)):
    try:
        data['title'][i] = data['title'][i].lower()
        data['original_title'][i] = data['original_title'][i].lower()
    except:
        print('Cannot be convert into lower_case:{}'.format(data['title'][i]))
        print('Cannot be convert into lower_case:{}'.format(data['original_title'][i]))

C:\Users\Vinay\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

Cannot be convert into lower_case:nan
Cannot be convert into lower_case:Midnight Man

After converting them to lower, I found 50 dupliates in extra.

In [11]:
print(sum(data['title'].value_counts().to_frame('count')['count'] > 1))

50

Removed extra 50 duplicates for the datasets.

In [12]:
data.drop_duplicates(subset = 'title', keep = 'first' , inplace = True)
data.reset_index(drop = True, inplace = True)

C:\Users\Vinay\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
print('Previously it was: 45466 but after removing duplicates Number of data points: {0} '.format(data.shape[0]))
data.sort_values('title', inplace = True, ascending = True)# Sort the dataset with title. 
data.reset_index(drop = True, inplace = True)
data.head()

Previously it was: 45466 but after removing duplicates Number of data points: 42228

C:\Users\Vinay\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,title,original_title,tagline,overview,genres
0,!women art revolution,!women art revolution,40 years in the making!,"Through intimate interviews, provocative art, ...","[{'id': 99, 'name': 'Documentary'}]"
1,#1 cheerleader camp,#1 cheerleader camp,Grab your spirit sticks!,A pair of horny college guys get summer jobs a...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,#chicagogirl,#chicagogirl,The Social Network Takes on a Dictator,From her childhood bedroom in the Chicago subu...,"[{'id': 99, 'name': 'Documentary'}]"
3,#horror,#horror,Death is trending.,"Inspired by actual events, a group of 12 year ...","[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na..."
4,"$1,000 on the black",mille dollari sul nero,NaN,Johnny Liston has just been released from pris...,"[{'id': 37, 'name': 'Western'}]"

In [14]:
data.tail()

,title,original_title,tagline,overview,genres
42223,ârameauâs nephewâ by diderot (thanx to dennis ...,ârameauâs nephewâ by diderot (thanx to dennis ...,NaN,Described (rather cheekily) by director Michae...,[]
42224,âround midnight,âround midnight,The music and the magic come together...,Inside the Blue Note nightclub one night in 19...,"[{'id': 18, 'name': 'Drama'}]"
42225,â¦and the fifth horseman is fear,â¦a pÃ¡tÃ½ jezdec je strach,NaN,A Jewish doctor helps a political fugitive dur...,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
42226,ãã¡ã³ã¿ã¹ãã£ã,ãã¡ã³ã¿ã¹ãã£ã,NaN,Two brothers must take the helm of their famil...,"[{'id': 35, 'name': 'Comedy'}]"
42227,NaN,Midnight Man,NaN,British soldiers force a recently captured IRA...,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."

Trying to match the title and original title columns and see if all the titles are in matching or few been translated

In [15]:
data['title'].isin(data['original_title']).value_counts()

True     31850
False    10378
Name: title, dtype: int64

For loop for getting Original titles from the data sets which are not matching or either translated.

In [16]:
translate_title = []
for i in range(len(data)):
    if data['title'][i] != data['original_title'][i]:
        translate_title.append(data['original_title'][i])

Original titles scrapped from the data

In [17]:
translate_title

['mille dollari sul nero',
 'centomila dollari per ringo',
 'feng ai',
 '(entlastungen) pipilottis fehler',
 'et dieuâ¦ crÃ©a la femme',
 'calibre 45',
 'a 008, operazione sterminio',
 '009 reï¼cyborg',
 '009ã1ï¼ã¼ã­ã¼ã­ã¯ãã¤ãï¼ the end of the beginning',
 '1 - à°¨à±à°¨à±à°à±à°à°¡à°¿à°¨à±',
 'ï¼ãªããã«ã®æ¶',
 '06',
 '10 milliarden - wie werden wir alle satt?',
 '10 minuta',
 '10.000 dollari per un massacro',
 '10.000 km',
 'ë´ ì¬ë ì¸ê°ì§',
 '100 gramm dlya khrabrosti',
 '100 metros',
 'æ®ºå¦»äºäººçµ',
 '100% à°²à°µà±',
 '1001 gram',
 'les 1001 nuits',
 '101 reykjavÃ­k',
 '1066',
 'ì´íì',
 'æ11',
 '11 minut',
 '12 ÑÑÑÐ»ÑÐµÐ²',
 '12 meter ohne kopf',
 'æµ·é£1890',
 'a fost sau n-a fost?',
 'åä¸äººã®åºå®¢',
 '13 à¹à¸à¸¡à¸ªà¸¢à¸­à¸',
 'trece campanadas',
 '13 dies de octubre',
 'elser',
 'jin yi wei',
 '15 aÃ±os y un dÃ­a',
 'la fille de brest',
 '1612: ÑÑÐ¾Ð½Ð¸ÐºÐ¸ ÑÐ¼ÑÑÐ½Ð¾Ð³Ð¾ Ð²ÑÐµÐ¼ÐµÐ½Ð¸',
 '17 filles',
 '18 comidas',
 'diciotto anni dopo',
 "j'aime regarder les filles",
 '180Â° south',
 '1898. los Ãºltimos de filipinas',
 'novecento',
 'è¾äº¥é©å½',
 'tali-ihantala 1944',
 '1990: i guerrieri del bronx',
 '1Â½ ritter - auf der suche nach der hinreiÃenden herzelinde',
 'seuls two',
 '2 automnes 3 hivers',
 'å¤©çä¸å°',
 "deux ou trois choses que je sais d'elle",
 'à¤à¥ à¤¸à¥à¤à¥à¤à¥à¤¸',
 'ë¯¸ëë ê´´ë¡ì',
 'gong yuan 2000 ad',
 '2009 ë¡ì¤í¸ë©ëª¨ë¦¬ì¦',
 '2019 - dopo la caduta di new york',
 'anno 2020 - i gladiatori del futuro',
 '2047 - sights of death',
 '2084: video clip pour une rÃ©flexion syndicale et pour le plaisir',
 'ï¼ï¼ä¸ç´å°å¹´< ç¬¬1ç« > çµããã®å§ã¾ã',
 '20ä¸ç´å°å¹´< ç¬¬ï¼ç« >æå¾ã®å¸æ',
 '20ä¸ç´å°å¹´ ã¼ããã®æ',
 '21 nuits avec pattie',
 '21 tapaa pilata avioliitto',
 "l'immortel",
 '22 minuty',
 'äºåååè®°',
 '24 jours',
 '25 kilates',
 'tÃ¼zoltÃ³ utca 25.',
 '252 çå­èãã',
 '26ë',
 '3 à¤¬à¤à¥',
 'gli invincibili tre',
 'ØªÛÙ Ø¨ÛØ§Ø¯Ø±',
 '3 cÅurs',
 '3dèè²åä¹æ¥µæ¨å¯¶é',
 'ë¹ì§',
 '300 mil do nieba',
 'ì¼ê³µì¼ ì¼ê³µì´',
 '3096 tage',
 '31 iyunya',
 '33 sceny z Å¼ycia',
 '35 rhums',
 '36 quai des orfÃ¨vres',
 '38 Ð¿Ð¾Ð¿ÑÐ³Ð°ÐµÐ²',
 '3faltig',
 'bayaning 3rd world',
 'd-day - ì´ëë  ê°ìê¸° ì¸ë²ì§¸ ì´ì¼ê¸°',
 'one square mile',
 '4 luni, 3 sÄptÄmÃ®ni Èi 2 zile',
 'cuatro lunas',
 'å¿ è£èµ è±ã®å·»ã»éªã®å·»',
 'à¸ªà¸µà¹à¹à¸à¸£à¹à¸',
 '4êµì ì¶ë¦¬ìì­',
 'ç§é5ã»ã³ãã¡ã¼ãã«',
 "5 bambole per la luna d'agosto",
 'ÛµÛ° Ú©ÛÙÙ Ø¢ÙØ¨Ø§ÙÙ',
 '5150 rue des ormes',
 'dio Ã¨ con noi',
 '600 millas',
 '66 scener fra amerika',
 'à¹à¸£à¸·à¹à¸­à¸à¸à¸¥à¸ 69',
 '7 cajas',
 '7 dÃ­as en la habana',
 'ã²ã¾ããã¨å­ç¬ã®7æ¥é',
 '7 zwerge - der wald ist nicht genug',
 "7 monaci d'oro",
 'sette ore di violenza per una soluzione imprevista',
 '7 chili in 7 giorni',
 '7 vÃ­rgenes',
 '7 ans',
 '71 fragmente einer chronologie des zufalls',
 'í¬í ìì¼ë¡',
 '72 Ð¼ÐµÑÑÐ°',
 '72å®¶ç§å®¢',
 '7:35 de la maÃ±ana',
 '8 citas',
 '8 pÃ¤ivÃ¤Ã¤ ensi-iltaan',
 '8 pervykh svidaniy',
 '8 Ð½Ð¾Ð²ÑÑ ÑÐ²Ð¸Ð´Ð°Ð½Ð¸Ð¹',
 '8 femmes',
 '8x10 tasveer',
 '8-pallo',
 '80 milionÃ³w',
 '800 balas',
 '8 uhr 28',
 '9 mois ferme',
 'ãã¤ã³ã»ã½ã¦ã«ãº',
 'malon 9 kochavim',
 '90 minutter',
 '9 ÑÐ¾ÑÐ°',
 'sala samobÃ³jcÃ³w',
 '[rec]Â³ gÃ©nesis',
 '[rec] 4: apocalipsis',
 'un sac de billes',
 'ë§¨ë°ì ê¿',
 'reazione a catena',
 'uma abelha na chuva',
 'schellen-ursli',
 'la campana del infierno',
 'è±éæ¬è²',
 'ying hung boon sik ii',
 'ying hung boon sik iii jik yeung ji gor',
 'ë¬ì½¤í ì¸ì',
 'un fiocco nero per deborah',
 'chyornaya roza - emblema pechali, krasnaya roza - emblema lyubvi',
 'la morte non ha sesso',
 'la casa con la scala nel buio',
 'å¤æ¡',
 'une bouteille Ã  la mer',
 'ã¡ããã¾ãã·ãã',
 'un ragazzo di calabria',
 'un novio para mi mujer',
 'ì¬íì',
 'ãªããã´ã¡ã³ã¦ã£ã³ã¯ã«ã®è±å«',
 'una breve stagione',
 'una breve vacanza',
 'ç¯å¶ºè¡å°å¹´æ®ºäººäºä»¶',
 'un buda',
 'gli fumavano le colt... lo chiamavano camposanto',
 'los desesperados',
 'quiÃ©n sabe?',
 'un Ã©tÃ© brÃ»lant',
 'taxi para 3',
 'un chÃ¢teau en italie',
 'une vie de chat',
 'shekvarebuli kulinaris ataserti retsepti',
 'un enfant dans la foule',
 'å©å¥³å¹½é­',
 'å©å¥³å¹½é­iiäººéé',
 'sien lui yau wan iii: do do do',
 "c'era un cinese in coma",
 'un conte de noÃ«l',
 'æ²æåå¸',
 'oh boy',
 'æ³éã¯ä¿ºã®ãã¹ãã¼ã',
 'un comisar acuzÄ',
 'brodeuses',
 'íì¬ì',
 'una ragazza piuttosto complicata',
 'ç¨ç«æä»£',
 'flaskepost fra p',
 'un divan Ã  new york',
 'un crime',
 'un crime au paradis',
 'Ð¶ÐµÑÑÐ¾ÐºÐ¸Ð¹ ÑÐ¾Ð¼Ð°Ð½Ñ',
 'ÛÚ© Ø­Ø¨Ù ÙÙØ¯',
 'lekarstwo na miÅoÅÄ',
 'un lever de rideau',
 'alraune',
 'un giorno in pretura',
 'partie de campagne',
 'un dÃ­a sin mexicanos',
 'je ne suis pas un salaud',
 'der mann nebenan',
 'una vita difficile',
 'ë¹ì´í ê±°ë¦¬',
 'quartier lointain',
 'o auto da compadecida',
 'un dollaro tra i denti',
 'ejheda vared mishavad!',
 'voditel dlya very',
 'en familie',
 'una mujer fantÃ¡stica',
 'pochi dollari per django',
 'boj za',
 'é¿è',
 'shtikat haarchion',
 'ruba al prossimo tuo',
 'per un pugno di dollari',
 'viaggio sola',
 'en blomst',
 'à¤ à¤«à¤¼à¥à¤²à¤¾à¤à¤à¤ à¤à¤à¥à¤',
 'Ð»ÐµÑÑÑÐ¸Ð¹ ÐºÐ¾ÑÐ°Ð±Ð»Ñ',
 'cliente',
 'chi trova un amico trova un tesoro',
 'ein freund von mir',
 'priyatel pokoynika',
 'ìíì ',
 'é£¢é¤æµ·å³¡',
 'dirch',
 'les lyonnais',
 'un garibaldino al convento',
 'ç«ã®éä¼',
 'pokolenie',
 'un genio, due compari, un pollo',
 'å¤©ç¶ã³ã±ãã³ã¼',
 'lagodna',
 'une femme douce',
 'ein deutsches leben',
 'Ð¿Ð¾Ð´Ð°ÑÐ¾Ðº Ñ ÑÐ°ÑÐ°ÐºÑÐµÑÐ¾Ð¼',
 'ëí¬ì¼',
 'la fille coupÃ©e en deux',
 'bello, onesto, emigrato australia sposerebbe compaesana illibata',
 'gudsforladt',
 "un ragazzo d'oro",
 'ë°ëë ê°ì¡±',
 'le beau mariage',
 'dobra Å¾ena',
 'une belle fille comme moi',
 'ziarno prawdy',
 "le fond de l'air est rouge",
 'una pistola per cento bare',
 'una pistola en cada mano',
 'en kille och en tjej',
 'un heureux Ã©vÃ©nement',
 'ëê¹ì§ ê°ë¤',
 'un cÅur en hiver',
 "reines d'un jour",
 'kaze no naka no mendori',
 'un eroe dei nostri tempi',
 'kapringen',
 'ett hÃ¥l i mitt hjÃ¤rta',
 'rupa u duÅ¡i',
 'smirennaya zhizn',
 'hol volt, hol nem volt',
 'Ð¼Ð¾Ð¹ Ð»Ð°ÑÐºÐ¾Ð²ÑÐ¹ Ð¸ Ð½ÐµÐ¶Ð½ÑÐ¹ Ð·Ð²ÐµÑÑ',
 'die reise ins glÃ¼ck',
 'yousei furorensu',
 'nie ma rÃ³Å¼y bez ognia',
 'klyuch ot spalni',
 'valami amerika 2',
 'un lac',
 'en lektion i kÃ¤rlek',
 'ããã¸ã®æç´',
 'zhizn za zhizn',
 'limuzÄ«ns jÄÅu nakts krÄsÄ',
 'à¸ªà¸´à¹à¸à¹à¸¥à¹à¸à¹à¸¥à¹à¸à¸à¸µà¹à¹à¸£à¸µà¸¢à¸à¸§à¹à¸²...à¸£à¸±à¸',
 'una lucertola con la pelle di donna',
 'kobieta samotna',
 'Ð´Ð¾Ð»Ð³Ð°Ñ ÑÑÐ°ÑÑÐ»Ð¸Ð²Ð°Ñ Ð¶Ð¸Ð·Ð½Ñ',
 'pitkÃ¤ kuuma kesÃ¤',
 'vivo per la tua morte',
 'uzun hikaye',
 'nagai sanpo',
 'filme de amor',
 'aime ton pÃ¨re',
 'un homme et une femme',
 'un homme et une femme, 20 ans dÃ©jÃ ',
 'mannaja',
 'ä¸­è¯è±é',
 'napoli si ribella',
 'en man som heter ove',
 "un condamnÃ© Ã  mort s'est Ã©chappÃ©",
 'un uomo da bruciare',
 'ÑÐµÐ»Ð¾Ð²ÐµÐº Ñ Ð±ÑÐ»ÑÐ²Ð°ÑÐ° ÐºÐ°Ð¿ÑÑÐ¸Ð½Ð¾Ð²',
 'un nommÃ© la rocca',
 'un uomo in ginocchio',
 'terje vigen',
 'äººéè¸çº',
 'ìí¼ë§¨ì´ìë ì¬ëì´',
 'Ð¼ÑÐ¶ÑÐ¸Ð½Ð° Ñ Ð³Ð°ÑÐ°Ð½ÑÐ¸ÐµÐ¹',
 'un uomo, un cavallo, una pistola',
 'manolete',
 'ÏÎ¿ ÏÎµÎ»ÎµÏÏÎ±Î¯Î¿ ÏÎ­Î¼Î±',
 'questione di cuore',
 'sippur gadol',
 'une affaire de goÃ»t',
 'kurosawa akira kara no messÃªji: utsukushii eiga o',
 'sommaren med gÃ¶ran',
 'ë°±ë§ì¥ìì ì²«ì¬ë',
 "une Ã©tudiante d'aujourd'hui",
 'ÙÙÙ Ù Ú¯ÙØ¯ÙÙ',
 'ë´ ë¨¸ë¦¬ ìì ì§ì°ê°',
 'un singe en hiver',
 'le chÃ¢teau des singes',
 'un monstre Ã  paris',
 'un monstruo de mil cabezas',
 'æ¯ãæã¯ãã',
 'Ð´Ð²Ð¾ÑÑÐ½ÑÐºÐ¾Ðµ Ð³Ð½ÐµÐ·Ð´Ð¾',
 'la vie nouvelle',
 'la fine del mondo nel nostro solito letto in una notte piena di pioggia',
 'le cauchemar',
 'en enkel till antibes',
 'kurutta ippÃªji',
 "l'emmerdeur",
 'pas douce',
 'isÃ¤nmaallinen mies',
 'un giorno perfetto',
 'una famiglia perfetta',
 'man zkt vrouw',
 'macbeth',
 'en duva satt pÃ¥ en gren och funderade pÃ¥ tillvaron',
 'una pistola per ringo',
 'un lugar en el mundo',
 'Ð¿Ð»Ð°ÑÑÐ¸Ð»Ð¸Ð½Ð¾Ð²Ð°Ñ Ð²Ð¾ÑÐ¾Ð½Ð°',
 'æ°´ã®ãªããã¼ã«',
 'un prince (presque) charmant',
 'une affaire privÃ©e',
 'un prophÃ¨te',
 'una pura formalitÃ ',
 'de stilte rond christine m.',
 'una vita tranquilla',
 'tikhaya zastava',
 'un tranquillo posto di campagna',
 'realnyy papa',
 'une vraie jeune fille',
 'una ragione per vivere e una per morire',
 'o slavnosti a hostech',
 'à¦¤à¦¿à¦¤à¦¾à¦¸ à¦à¦à¦à¦¿ à¦¨à¦¦à§à¦° à¦¨à¦¾à¦®',
 'en kongelig affÃ¦re',
 'ãã®å¤ããã¡ã°ãéããªæµ·ã',
 'un homme qui crie',
 'en chance til',
 'una sconfinata giovinezza',
 'un secret',
 'un hÃ©ros trÃ¨s discret',
 'Ø¬Ø¯Ø§ÛÛ ÙØ§Ø¯Ø± Ø§Ø² Ø³ÛÙÛÙ',
 'srpski film',
 'den allvarsamma leken',
 'krÃ³tki film o zabijaniu',
 'krÃ³tki film o milosci',
 'è²ã®å½¢',
 'æ¡å§',
 'una storia semplice',
 'la fille seule',
 'ÑÐµÑÑÐ°Ñ ÑÐ°ÑÑÑ Ð¼Ð¸ÑÐ°',
 'ÑÐ°Ð±Ð° Ð»ÑÐ±Ð²Ð¸',
 'å£è£ãå¥³',
 'bi kÃ¼Ã§Ã¼k eylÃ¼l meselesi',
 'rokugatsu no hebi',
 'en ganske snill mann',
 'en sÃ¥ng fÃ¶r martin',
 'a canÃ§Ã£o de lisboa',
 "un chant d'amour",
 'italia a mano armata',
 'una giornata particolare',
 'ÐºÑÐ¸Ð½Ð¸ÑÑ Ð´Ð»Ñ ÑÐ¿ÑÐ°Ð³Ð»Ð¸Ñ',
 'hanagata senshu',
 'ukikusa monogatari',
 'Ð»ÑÑÐ¾Ð²Ð° Ð¿ÑÑÐ½Ñ. Ð¼Ð°Ð²ÐºÐ°',
 "une histoire d'eau",
 'æ¨ªéä¸ä¹ä»',
 'æ°´ã§æ¸ãããç©èª',
 'éå½ãããªãäºº',
 'å¬å¬çåæ',
 'un Ã©tÃ© Ã  la goulette',
 'un Ã©tÃ© Ã  saint-tropez',
 'seryozha',
 "conte d'Ã©tÃ©",
 'å¹æ«å¤ªé½å³',
 'en forÃ¥rsdag i helvede',
 'en kÃ¤rlekshistoria',
 'pÃ«rrallÃ« nga e kaluara',
 'mondo meyer upakhyan',
 'garoojigi',
 'skazka o poteryannom vremeni',
 'æ²æç©èª',
 'conte de printemps',
 'une histoire de vent',
 'ì¥í, íë ¨',
 "conte d'hiver",
 'um filme falado',
 'marusa no onna',
 'ãã«ãµã®å¥³ï¼',
 'une nuit terrible',
 'mil nubes de paz cercan el cielo, amor, jamÃ¡s acabarÃ¡s de ser amor',
 'mille mois',
 'tusen ganger god natt',
 'tusen gÃ¥nger starkare',
 "un ticket pour l'espace",
 'zamani barayÃ© masti asbha',
 'ruusujen aika',
 'ç«¥å¹´ç«¥å¹´',
 'å¤©æ³¨å®',
 'ÏÎ¿Î»Î¯ÏÎ¹ÎºÎ· ÎºÎ¿ÏÎ¶Î¯Î½Î±',
 'ä¿ å¥³',
 'panique au village',
 'die gebrÃ¼der skladanowsky',
 'rejs',
 'le voyage dans la lune',
 'ï§å¨æ±æ¹',
 "sammy's avonturen: de geheime doorgang",
 'un long dimanche de fianÃ§ailles',
 'vu du pont',
 'ê²ì¬ì¸ì ',
 'la nuit des Ã©toiles filantes',
 'una vergine in famiglia',
 'Ð¿Ð¾ÑÐµÑÐ¸ÑÐµÐ»Ñ Ð¼ÑÐ·ÐµÑ',
 'spacerek staromiejski',
 'hourou-ki',
 'krigen',
 'ÙØ¨Ø§Ø³Û Ø¨Ø±Ø§Û Ø¹Ø±ÙØ³Û\u200e\u200e',
 'à¤ à¤µà¥à¤¡à¤¨à¤¸à¤¡à¥',
 'ëëìë',
 'un bianco vestito per marialÃ©',
 'tutta la vita davanti',
 'å¦»ã¯åç½ãã',
 'o lobo atrÃ¡s da porta',
 'vesegonskaya volchitsa',
 'anonyma - eine frau in berlin',
 'une femme est une femme',
 'a woman of paris: a drama of fate',
 'bilans kwartalny',
 'une vie',
 'ä¸æªææ¡æå¥',
 'å¤©ä¸æ è´¼',
 'im winter ein jahr',
 'Ã¥ret gjennom bÃ¸rfjord',
 'a1 tou tiao',
 'ÏÏÎ³ÏÎ±ÏÎ·ÏÎ®ÏÎ¹Î± ÏÏÎ¿ÏÏ Î±Î¹ÏÎ¹ÏÎ´Î¿Î¾Î¿ÏÏ?',
 'autobahnraser',
 'ìì¹ì ì¨í',
 'à®à®³à®µà®¨à¯à®¤à®¾à®©à¯',
 'à´à´¨à´¨àµà´¦à´',
 'à°à°°à±à°¯',
 'à®à®à¯',
 'à®à®¯à¯à®¤ à®à®´à¯à®¤à¯à®¤à¯',
 'aballay, el hombre sin miedo',
 'bud abbott lou costello meet frankenstein',
 'à¤à¤¬à¥à¤¸à¥à¤¡à¥',
 'à¦à¦­à¦¿à¦¯à¦¾à¦¨',
 'Ø¯Ø±Ø¨Ø§Ø±Ù Ø§ÙÛ\u200e\u200e',
 'momoiro sora o',
 'tumman veden pÃ¤Ã¤llÃ¤',
 'over gaden under vandet',
 'Ã¼ber uns das all',
 'vale abraÃ£o',
 "l'absence",
 'ausente',
 'la testa tra le nuvole',
 'ìì¹´ìì',
 "l'acadie, l'acadie",
 'complices',
 'sostiene pereira',
 'anklaget',
 'asso',
 'éè»¢è£å¤',
 "i quattro dell'ave maria",
 "l'as des as",
 'æ°æä½³ææª',
 'ã¢ã­ã¬ã¹ã¨äº',
 'la discesa di aclÃ  a floristella',
 'oltre il guado',
 'fuglene over sundet',
 "un acte d'amour",
 'à´à´àµà´·àµ» à´¹àµà´±àµ à´¬à´¿à´àµ',
 'actrices',
 'national lampoonâs adam & eve',
 'adams Ã¦bler',
 'levottomat 3',
 'sumas y restas',
 'ìì·¨ì¸ë¶ëª',
 'à°à°¦à±à°°à±à°¸à±',
 'indio black, sai che ti dico: sei un gran figlio diâ¦',
 'Ð°Ð´Ð¼Ð¸ÑÐ°Ð»Ñ',
 'é£åè¦éå¸ä»¤é·å® å±±æ¬äºåå­',
 'ã¢ãã¬ããªã³ãã©ã¤ã',
 'pÃ¡l adrienn',
 'Ã  deriva',
 'è»¢ã',
 'viikossa aikuiseksi',
 "adulterio all'italiana",
 'pokhozhdeniya zubnogo vracha',
 'arsÃ¨ne lupin',
 'Ð¿ÑÐ¸ÐºÐ»ÑÑÐµÐ½Ð¸Ñ ÐºÐ°Ð¿Ð¸ÑÐ°Ð½Ð° Ð²ÑÑÐ½Ð³ÐµÐ»Ñ',
 'Ð¼Ð°ÑÐ³Ð»Ð¸',
 'Ð¼Ð°ÑÐ³Ð»Ð¸. Ð¿Ð¾ÑÐ¸ÑÐµÐ½Ð¸Ðµ',
 'guillaume tell et le clown',
 'åº§é ­å¸é¢æç ´ã',
 'Ð°ÑÐ»Ð¸ÑÐ°',
 'Ð°ÑÐ¾Ð½Ñ',
 'ããã£é¢¨éé',
 'africa addio',
 'ã¢ãã­ç°ä¸­',
 'Î±ÏÏÏÎ·ÏÏÏ ÎºÎ±ÏÎ¬Î»Î»Î·Î»Î¿',
 'posle smerti',
 'nach fÃ¼nf im urwald',
 'aprÃ¨s lui',
 'ã¯ã³ããã«ã©ã¤ã',
 "l'Ã©conomie du couple",
 'despuÃ©s de lucÃ­a',
 'ã¢ãã¿ã¼ã¹ã¯ã¼ã«',
 'æ¾èª²å¾ããããã¤ã¿ã¼ãº',
 'é¨ããã',
 'aprÃ¨s la rÃ©conciliation',
 'efter repetitionen',
 'efter brylluppet',
 'fu zi',
 'aprÃ¨s vous...',
 'powidoki',
 'utÃ³Ã©let',
 'Î¬ÏÏÎµÏÎ»ÏÎ²',
 'pokÅosie',
 'åå±±å¤§å°é',
 'agata e la tempesta',
 'zeit der kannibalen',
 'michael kohlhaas',
 'agenda: grinding america down',
 'aika',
 'aglaja',
 'à¤à¤à¥à¤¨à¤¿ à¤µà¤°à¥à¤·à¤¾',
 'Ð°Ð³Ð¾Ð½Ð¸Ñ',
 'aguirre, der zorn gottes',
 'ekipazh',
 'ç©ºæ°äººå½¢',
 'äºäºº\u3000ç¬¬ï¼é¨ãè¡åã',
 'à¤à¤à¤¨à¤¬à¥',
 'ã¢ã­ã©',
 'à´à´àµà´à´°àµà´¯à´àµà´à´°àµà´¯à´àµà´à´°àµ',
 'ã²ã¿ã¤ã®ã¢ãã³ã¡ãã',
 'Ð°ÒÑÑÐ°Ñ',
 'volshebnaya lampa aladdina',
 'à®à®²à¯à®ªà®¾à®¯à¯à®¤à¯',
 'Â¡alambrista!',
 'Ð°Ð»ÐµÑÐ° Ð¿Ð¾Ð¿Ð¾Ð²Ð¸Ñ Ð¸ ÑÑÐ³Ð°ÑÐ¸Ð½ Ð·Ð¼ÐµÐ¹',
 'alex holeh ahavah',
 'Ð°Ð»ÐµÐºÑÐ°Ð½Ð´Ñ Ð½ÐµÐ²ÑÐºÐ¸Ð¹',
 'aleksandr. nevskaya bitva',
 'Ð°Ð»ÐµÐºÑÐ°Ð½Ð´ÑÐ°',
 'Ø¥Ø³ÙÙØ¯Ø±ÙØ©... ÙÙÙØ',
 'dolfje weerwolfje',
 'ali baba et les 40 voleurs',
 'ali zaoua, prince de la rue',
 'angst essen seele auf',
 'alias marÃ­a',
 'alice et martin',
 'ì±ì¤í ëë¼ì ì¨ë¦¬ì¤',
 'alice in den stÃ¤dten',
 'Î· Î±Î»Î¯ÎºÎ· ÏÏÎ¿ Î½Î±ÏÏÎ¹ÎºÏ',
 'alien 2 - sulla terra',
 'alien degli abissi',
 'indian summer',
 'ein tick anders',
 'vivi o, preferibilmente, morti',
 'alyah',
 'le bal des actrices',
 'ãªãªã¤ã»ã·ã¥ã·ã¥ã®ãã¹ã¦',
 "de l'amour",
 'todo sobre mi madre',
 'ë´ ìë´ì ëª¨ë  ê²',
 'ã¿ããªã®ãã',
 'por las plumas',
 'Ã  trois, on y va',
 'tutti contro tutti',
 'cummings farm',
 'ãããã®ãã¨ã',
 'Ð²ÑÐµ Ð¸ ÑÑÐ°Ð·Ñ',
 'tout refleurit: pedro costa, cinÃ©aste',
 'alle for Ã©n',
 'è³­è',
 'strike!',
 'vsyo vklyucheno 2',
 'all inclusive, Ð¸Ð»Ð¸ Ð²ÑÑ Ð²ÐºÐ»ÑÑÐµÐ½Ð¾',
 'tout est pardonnÃ©',
 'cosÃ¬ fan tutte',
 'minu leninid',
 'tutto a posto e niente in ordine',
 'zaduszki',
 'tout ce qui brille',
 'wszystko, co kocham',
 'tout Ã§a... pour Ã§a !',
 "charlotte et vÃ©ronique, ou tous les garÃ§ons s'appellent patrick",
 'tutti i colori del buio',
 'les enfants invisibles',
 'tous les matins du monde',
 '...piÃ¹ forte ragazzi!',
 'toute la mÃ©moire du monde',
 'fÃ¶r att inte tala om alla dessa kvinnor',
 'lust och fÃ¤gring stor',
 'nous trois ou rien',
 'et si on vivait tous ensemble ?',
 'wszystko bÄdzie dobrze',
 'all you need is love - meine schwiegertochter ist ein mann',
 'alleluja e sartana figli di... dio',
 'allonsanfÃ n',
 'à°à°²à±à°²à±à°¡à°¾ à°®à°à°¾à°à°¾',
 'Åszi almanach',
 'almanya - willkommen in deutschland',
 'kohta 18',
 'casi treinta',
 'solas',
 'du cÃ´tÃ© de la cÃ´te',
 'anche libero va bene',
 'song hua jiang shang',
 'alphaville, une Ã©trange aventure de lemmy caution',
 'hÃ¶henfeuer',
 'Î¬Î»ÏÎµÎ¹Ï',
 'alucarda, la hija de las tinieblas',
 'always san-chÃ´me no yÃ»h',
 'bin ich schÃ¶n?',
 'à¤à¤®à¤° à¤à¤à¤¬à¤° à¤à¤¨à¥à¤¥à¥à¤¨à¥',
 'jungledyret hugo 3: frÃ¦k, flabet og fri',
 'rukajÃ¤rven tie',
 'ä¸­å½åä¼äºº',
 'ameerika suvi',
 'amico, stammi lontano almeno un palmo',
 'onder ons',
 'entrelobos',
 "l'amore",
 'ÑÐµÐ»Ð¾Ð²ÐµÐº-Ð°Ð¼ÑÐ¸Ð±Ð¸Ñ',
 'alla ricerca del piacere',
 "le fabuleux destin d'amÃ©lie poulain",
 'éªä¹ä¸å¤å',
 'une liaison pornographique',
 'wajma',
 'en eftermiddag',
 'un couple Ã©patant',
 'ha-trempist',
 'un americano a roma',
 'ç§åé­ã®å³',
 'ç§å¤©çç«¥è©±',
 'un borghese piccolo piccolo',
 'symphonie bizarre',
 'un Ã©lÃ©phant Ã§a trompe Ã©normÃ©ment',
 'æ±å±±ç¾äºº',
 'ganashatru',
 'epizoda u Å¾ivotu beraÄa Å¾eljeza',
 'primer intonatsii',
 'le rÃ¨gne de la beautÃ©',
 'æ±äº¬ã®å®¿',
 'la riviÃ¨re du hibou',
 'Ã  cÅur ouvert',
 'un Ã©tÃ© inoubliable',
 "l'illusionniste fin de siÃ¨cle",
 'ana y los otros',
 'ana, mon amour',
 'anatahan',
 'anadolu kartallarÄ±',
 'anatomie',
 "anatomie de l'enfer",
 'à®à®©à¯à®ªà¯ à®à®¿à®µà®®à¯',
 'am ende kommen touristen',
 'e dio disse a cainoâ¦',
 'ÑÐ¾ Ð¼Ð½Ð¾Ñ Ð²Ð¾Ñ ÑÑÐ¾ Ð¿ÑÐ¾Ð¸ÑÑÐ¾Ð´Ð¸Ñ',
 'la course du liÃ¨vre Ã  travers les champs',
 'toute une vie',
 'ukamau',
 'los buitres cavarÃ¡n tu fosa',
 'e la nave va',
 'Î· Î´Îµ Î³ÏÎ½Î® Î½Î± ÏÎ¿Î²Î®ÏÎ±Î¹ ÏÎ¿Î½ Î¬Î½Î´ÏÎ±',
 'and you thought your parents were weird',
 'Ð°Ð½Ð´ÑÐµÐ¹ ÑÑÐ±Ð»ÑÐ²',
 'sueÃ±an los androides',
 'ÑÑÐ¼Ð°Ð½Ð½Ð¾ÑÑÑ Ð°Ð½Ð´ÑÐ¾Ð¼ÐµÐ´Ñ',
 'ã¨ã³ã¼ã«ã³ãã enzeru koppu',
 "l'empreinte de l'ange",
 'å¤©ä½¿ã®ãã¾ã',
 'meleÄin dÃ¼ÅÃ¼ÅÃ¼',
 "le saut de l'ange",
 'angÃ¨le',
 "l'onorevole angelina",
 'angÃ©lique, marquise des anges',
 'nordkraft',
 'Ð°Ð½Ð³ÐµÐ»Ñ ÑÐµÐ²Ð¾Ð»ÑÑÐ¸Ð¸',
 'el sexo de los Ã¡ngeles',
 'anjos do sol',
 'englar alheimsins',
 'bittere ernte',
 'angustia',
 'angÃ¨le et tony',
 'tierische liebe',
 'konferenz der tiere',
 'animation seisaku shinkÅ kuromi-chan',
 'animation seisaku shinkÅ kuromi-chan: nippon no anime wa watashi ga tsukuru! 2',
 'aniskin i fantomas',
 'à®à®à¯à®à®²à®¿',
 'à®à®à¯à®à®¾à®¤à¯',
 'anna â der film',
 'ana y los lobos',
 'å®å¨çå¾·è²å¨',
 'anna, quel particolare piacere',
 'pÃ¼nktchen und anton',
 'anne of avonlea',
 'à®à®¨à¯à®¨à®¿à®¯à®©à¯',
 'distinto amanecer',
 'ê³µê³µì ì  2',
 'egymÃ¡sra nÃ©zve',
 "la vie d'une autre",
 'un altro mondo',
 'ë¨ê·¹ì¼ê¸°',
 'åæ¥µç©èª',
 'la glace et le ciel',
 'antboy ii: den rÃ¸de furies hÃ¦vn',
 'antikÃ¶rper',
 'panzehir',
 'Ð°Ð½ÑÐ¸Ð´ÑÑÑ',
 'Ð°Ð½ÑÐ¸ÐºÐ¸Ð»Ð»ÐµÑ',
 'Ð°Ð½ÑÐ¸ÐºÐ¸Ð»Ð»ÐµÑ 2: Ð°Ð½ÑÐ¸ÑÐµÑÑÐ¾Ñ',
 'Ð°Ð½ÑÐ¸ÐºÐ¸Ð»Ð»ÐµÑ Ð´.Ðº.: Ð»ÑÐ±Ð¾Ð²Ñ Ð±ÐµÐ· Ð¿Ð°Ð¼ÑÑÐ¸',
 'ììê³¨ëìê³¼ìì  ìí°í¬',
 'antoine et colette',
 'antonia',
 'o dragÃ£o da maldade contra o santo guerreiro',
 'antonio gramsci - i giorni del carcere',
 'harte jungs',
 'knallharte jungs',
 'ushiro kara mae kara',
 "vado... l'ammazzo e torno",
 'mÃ©lodie en sous-sol',
 'le dolce signore',
 'wszystko moze sie przytrafic',
 'pour elle',
 'todo lo que tÃº quieras',
 'lo sbarco di anzio',
 'ao, le dernier nÃ©andertal',
 'à¦à¦ªà¦°à¦¾à¦à¦¿à¦¤',
 'kimi to wakarete',
 '1303å·å®¤',
 'vladeniye 18',
 'bij de beesten af',
 'apnoia',
 'le revenant',
 'Äbols upÄ',
 'ã¢ããã«ã·ã¼ã',
 'ã¨ã¯ã¹ãã­ã',
 'ááá ááá',
 '9. april',
 'avril et le monde truquÃ©',
 'åæç©èª',
 'ìíí¸',
 'æ°´ã®ã³ãã',
 'cortÃ¨ge arabe',
 'arabella, mererÃ¶Ã¶vli tÃ¼tar',
 'il fiore delle mille e una notte',
 'as mil e uma noites: volume 1, o inquieto',
 'araf',
 "l'arcano incantatore",
 'ê±´ì¶íê°ë¡ ',
 'archivo 253',
 'à¤à¤°à¥à¤§ à¤¸à¤¤à¥à¤¯',
 'ë°ì ',
 'tamam mÄ±yÄ±z?',
 'tape 407',
 'arÃ¨s',
 'zonda: folclore argentino',
 'ìë¦¬ë',
 'arizona si scatenÃ²... e li fece fuori tutti',
 'armi elÃ¤Ã¤!',
 'armida, il dramma di una sposa',
 'ã¢ããã¼ã¸ã»ã¶ã»ãµã¼ã dual-matrix',
 'é¾åèå¼',
 'é£é·¹è¨å',
 'rikugun',
 "l'armÃ©e du crime",
 "l'armÃ©e des ombres",
 'arn: riket vid vÃ¤gens slut',
 'arn: tempelriddaren',
 'Ð°ÑÑÐµÐ½Ð°Ð»',

assigning translator from googletrans

In [13]:
import time
translator = Translator()

# for i in translate_title:
#     print(translator.translate(i, dest= 'en').text)
#     time.sleep(0.1)

In [19]:
translator.translate('10 milliarden - wie werden wir alle satt?').text

'10 billion - as we are all tired?'

    Tried to transalte each and every Original title which is not matching with title but due request error, Translation of all the 10k Original titles was not possible. 
    
    As I have checked, Original titles can be translated to english and match it with the title but it would be no use as we already have the format in title and the transalated original title is near format of the title. If we get a  request from customer in any other language then english. we  can just translate it and find the recommendations from the title data points. 
    
    So, Now I can remove the column Original title.

    Now lets's check NA, NULL or NONE value.

In [20]:
data.isna().sum()

title                 1
original_title        0
tagline           23190
overview            914
genres                0
dtype: int64

In [21]:
data['title'].fillna(0, inplace = True)

C:\Users\Vinay\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [22]:
#I see the there's an NA value in Title which is not accepted. So I checked if there's any missing in original title and found
#that the missing one is of english version. So I moved the original title and filled it to the title row. 
# there would be no NA in title column now 
for i in range(len(data)):
    if data['title'][i] == 0:
        data['title'][i] = data['original_title'][i]

C:\Users\Vinay\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
d = enchant.Dict("en_US")

In [24]:
data['title'][4].split()

['$1,000', 'on', 'the', 'black']

In [25]:
string = data['title'][4].split()

In [26]:
for i in string:
    if d.check(i) == True:
        print(i)
    else:
        print('false {}'.format(i))

false $1,000
on
the
black

In [27]:
d.check('ãã¡ã³ã¿ã¹ãã£ã')

False

In [28]:
''.join(e for e in string if e.isalnum() or e.isdecimal())

'ontheblack'

In [29]:
data.shape

(42228, 5)

In [2]:
import pickle

In [31]:
# with open('data_movie.pickle', 'wb') as f:
#     pickle.dump(data, f)

pickle_in = open("data_movie.pickle","rb")
data = pickle.load(pickle_in)

In [6]:
import enchant
d = enchant.Dict("en_US")

In [34]:
# %%time
# for i in range(len(data)):
#     str_lst = data['title'][i].split()
#     for j in range(len(str_lst)):
#         string = str_lst[j]
#         x = ''.join(e for e in string if e.isalnum() or e.isdecimal())
#         try:
#             if d.check(x) == False:
#                 try:
#                     z = translator.translate(x, dest='en')
#                     if z.text != y:
#                         str_lst[j] = z.text
#                         data['title'][i] = ' '.join(sent for sent in str_lst)
#                 except:
#                     print(data['title'][i])
#                     print(x)
#         except:
#             continue

I tried to convert other languages into english so that it would easier for tokenizing and all but Googletrans is not accepting many requests at once and few languages it's unable to detect. 

Instead of dropping the None value rows I can fill it No tag and No Overview or else I can remove tagline column and use only Overview columns as the missing values are very less in it. 

Tagline is a shorter explaination of overview. So I gues it will not have much a difference.

In [17]:
#dumped the data that has been done till here. 
with open('data_movie.pickle', 'wb') as f:
    pickle.dump(data, f)

In [156]:
#read the data. 
pickle_in = open("data_movie.pickle","rb")
data = pickle.load(pickle_in)

In [157]:
data.shape

(42228, 5)

In [158]:
#Getting NA values.
#Found NA in tagline and overview. 
#Title had NA too but I replaced it with original title. 
data.isna().sum()

title                 0
original_title        0
tagline           23190
overview            914
genres                0
dtype: int64

In [159]:
data.head()

,title,original_title,tagline,overview,genres
0,!women art revolution,!women art revolution,40 years in the making!,"Through intimate interviews, provocative art, ...","[{'id': 99, 'name': 'Documentary'}]"
1,#1 cheerleader camp,#1 cheerleader camp,Grab your spirit sticks!,A pair of horny college guys get summer jobs a...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,#chicagogirl,#chicagogirl,The Social Network Takes on a Dictator,From her childhood bedroom in the Chicago subu...,"[{'id': 99, 'name': 'Documentary'}]"
3,#horror,#horror,Death is trending.,"Inspired by actual events, a group of 12 year ...","[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na..."
4,"$1,000 on the black",mille dollari sul nero,NaN,Johnny Liston has just been released from pris...,"[{'id': 37, 'name': 'Western'}]"

In [165]:
#Replacing all the na values from tagline and overview with never provided. 
data['tagline'].fillna('Never Provided', inplace = True)
data['overview'].fillna('Never Provided', inplace = True)

In [166]:
data.isna().sum()

title             0
original_title    0
tagline           0
overview          0
genres            0
dtype: int64

In [167]:
#created a function so that it can be useful for me in future. 
#this is only for tagline and overview.
#We can remove punctuations from the tagline and overview but I have not done it on title so that I can get exact titles and 
#genre informaiton when I run the recommendation system. 
#Prepcrossing methods  - Lowering, removing characters or punctuations and stop word in next few cells. 
def column_Preprocess_sentence(df,column):
    for index,row in df.iterrows():
        #print(index)
        word = row[column]
        word = ''.join([i for i in word if not i.isdigit()])
        word = word.lower()
        word = word.translate(str.maketrans('', '', string.punctuation))
        word = ' '.join(word.split())
        df[column][index] = word
    return('Prepcoessing done for:{}'.format(column))

In [169]:
%%time
column_Preprocess(data,'tagline')#Tagline preprocess

Wall time: 27.3 s

'Prepcoessing done for:tagline'

In [170]:
%%time
column_Preprocess(data,'overview')#overview preprocess

Wall time: 35 s

'Prepcoessing done for:overview'

In [172]:
#Stop word removal from the tagline and overview, created a function for that. 
def stop_words_remove(df, column):
    for index, row in df.iterrows():
        text_tokens = word_tokenize(row[column])
        tokens_without_sw = [word for word in text_tokens if not word in stopwords.words()]
        filtered_sentence = (" ").join(tokens_without_sw)
        df[column][index] = filtered_sentence
    return('All done for {}'.format(column))

In [175]:
%%time
stop_words_remove(data, 'tagline')#stop word tagline removed

Wall time: 32min 18s

'All done for tagline'

In [176]:
%%time
stop_words_remove(data, 'overview')#stop word overview removed.

Wall time: 5h 57min 21s

'All done for overview'

In [177]:
data.head()

,title,original_title,tagline,overview,genres
0,!women art revolution,!women art revolution,years making,intimate interviews provocative art rare histo...,"[{'id': 99, 'name': 'Documentary'}]"
1,#1 cheerleader camp,#1 cheerleader camp,grab spirit sticks,pair horny college guys get summer jobs sexy c...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,#chicagogirl,#chicagogirl,social network takes dictator,childhood bedroom chicago suburbs american tee...,"[{'id': 99, 'name': 'Documentary'}]"
3,#horror,#horror,death trending,inspired actual events group year old girls ni...,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na..."
4,"$1,000 on the black",mille dollari sul nero,never provided,johnny liston released prison wrongly served t...,"[{'id': 37, 'name': 'Western'}]"

In [178]:
#Preprocessing for title column 
def column_Preprocess_titile(df,column):
    for index,row in df.iterrows():
        #print(index)
        word = row[column]
       #word = ''.join([i for i in word if not i.isdigit()])
        #word = word.lower() 
        word = word.translate(str.maketrans('', '', string.punctuation))
        word = ' '.join(word.split())
        row[column] = word
    return('Prepcoessing done for:{}'.format(column))

In [179]:
column_Preprocess_titile(data,'title') # Prepcoessing title

'Prepcoessing done for:title'

In [183]:
column_Preprocess_titile(data,'original_title') # Prepcoessing original_title

'Prepcoessing done for:original_title'

In [184]:
data.head()

,title,original_title,tagline,overview,genres
0,women art revolution,women art revolution,years making,intimate interviews provocative art rare histo...,"[{'id': 99, 'name': 'Documentary'}]"
1,1 cheerleader camp,1 cheerleader camp,grab spirit sticks,pair horny college guys get summer jobs sexy c...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,chicagogirl,chicagogirl,social network takes dictator,childhood bedroom chicago suburbs american tee...,"[{'id': 99, 'name': 'Documentary'}]"
3,horror,horror,death trending,inspired actual events group year old girls ni...,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na..."
4,1000 on the black,mille dollari sul nero,never provided,johnny liston released prison wrongly served t...,"[{'id': 37, 'name': 'Western'}]"

In [185]:
import ast

In [186]:
#Genres column is in string format, using ast module to convert string to list.
for i,j in data.iterrows():
    data['genres'][i] = ast.literal_eval(data['genres'][i])

In [187]:
%%time
#Now, As I need the genres names, I wrote a loop to get them in a string format. 

for index,row in data.iterrows():
    gnre_ls = []
    if len(data['genres'][index]) <= 1: # If there's only one genre in that row.  
        for i in data['genres'][index]:
            data['genres'][index] = i['name']
    else:
        for i in data['genres'][index]:# If there's more then one genre name in that row
            gnre_ls.append(i['name'])
            genres = (" ").join(gnre_ls)
        data['genres'][index] = genres

Wall time: 34 s

In [188]:
%%time
#there are few genres where there's and empty list, so replacing thos list with None. Which mean, for this particular title
#there's no genre
c=0
for index, row in data.iterrows():
    if type(data['genres'][index]) == list:
        c+=1
        data['genres'][index] = 'None' 
print(c)

2277
Wall time: 7.65 s

In [189]:
#creating a column index
index = list(range(len(data)))
data['index'] = index

In [190]:
with open('data_movie.pickle', 'wb') as f:
    pickle.dump(data, f)

In [192]:
#I have the preprocessing which is required for this dataset

# Now loaded Tfidf vectorizer to covert Genre column to a vector. 
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(data['genres'])

In [193]:
#Cosine similarity - using this I can create a kernel. 
# Using cosine similarity, I can get related or close feautes/items/movies as recommendations. 
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [198]:
# Build a 1-dimensional array with movie titles
titles = data[['title','genres']]
indices = pd.Series(data.index, index=data['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [199]:
#I called movies realted to Toy story and pops up related titles that a user can prefer. 
genre_recommendations('toy story')

                                             title                   genres
837                  a flintstones christmas carol  Animation Comedy Family
1083                    a matter of loaf and death  Animation Comedy Family
2341              amazon jack 3 jungo goes bananas  Animation Comedy Family
2759                                         anina  Animation Comedy Family
3739                                        banana  Animation Comedy Family
3866                                      barnyard  Animation Comedy Family
3886                        bartok the magnificent  Animation Comedy Family
4576                             big top scoobydoo  Animation Comedy Family
5254   bon voyage charlie brown and dont come back  Animation Comedy Family
5363                             botsman i popugay  Animation Comedy Family
5784       bugs bunnys 3rd movie 1001 rabbit tales  Animation Comedy Family
5957                                    bÃ©bÃ©s kids  Animation Comedy Family
6765                                   chicken run  Animation Comedy Family
7199             cloudy with a chance of meatballs  Animation Comedy Family
7826                             creature comforts  Animation Comedy Family
8955                               despicable me 2  Animation Comedy Family
9937                          dugs special mission  Animation Comedy Family
12022                                frankenweenie  Animation Comedy Family
12055                                   free birds  Animation Comedy Family
12466                                     garfield  Animation Comedy Family

In [201]:
#checking if recommendation systems and provided details with respective to the title genre. 
for index,row in data.iterrows():
    if row['title'] == 'toy story':
        print(data['genres'][index])

Animation Comedy Family

In [202]:
#I called movies realted to Toy story and pops up related titles that a user can prefer. 
genre_recommendations('a chinese ghost story ii')

,title,genres
12730,ghoulies iii ghoulies go to college,Fantasy Drama Horror Action Comedy
21985,negative happy chain saw edge,Fantasy Drama Horror Action Comedy Romance For...
11487,firestarter,Fantasy Drama Horror Action Thriller
10582,erotic ghost story,Fantasy Drama Horror
21960,nazareno cruz and the wolf,Fantasy Drama Horror
40599,waxworks,Fantasy Drama Horror
20598,midnight son,Drama Horror Action
4965,blood donuts,Horror Action Comedy
8038,curse of the wolf,Horror Action Comedy
8569,dead snow 2 red vs dead,Horror Action Comedy
11243,feast iii the happy finish,Horror Action Comedy
21315,mr vampire 2,Horror Action Comedy
22327,ninjas vs zombies,Horror Action Comedy
24798,pro wrestlers vs zombies,Horror Action Comedy
42093,zombeavers,Horror Action Comedy
9773,dragon wars dwar,Fantasy Drama Horror Action Thriller Science F...
3335,audrey rose,Fantasy Drama Horror Thriller
35717,the picture of dorian gray,Fantasy Drama Horror Thriller
1091,a midsummer nights dream,Fantasy Drama Comedy Romance
4943,blithe spirit,Fantasy Drama Comedy Romance

In [204]:
#I called movies realted to Toy story and pops up related titles that a user can prefer. 

genre_recommendations('1000 on the black')

                                  title   genres
74         10000 dollars for a massacre  Western
415              40 guns to apache pass  Western
518                         7th cavalry  Western
611      a big hand for the little lady  Western
654             a bullet for a stranger  Western
793          a dollar between the teeth  Western
833                a fistful of dollars  Western
917        a gun for one hundred graves  Western
1048                 a man called blade  Western
1049                a man called gannon  Western
1056                a man called sledge  Western
1071                a man a horse a gun  Western
1225   a reason to live a reason to die  Western
1388                   a time for dying  Western
1389                 a time for killing  Western
2475                    amigo stay away  Western
2651  and the crows will dig your grave  Western
2907                       apache blood  Western
2910                      apache rifles  Western
3037                            arizona  Western

In [206]:
#I called movies realted to Toy story and pops up related titles that a user can prefer. 

genre_recommendations('aliens on the moon the truth exposed')

                                      title       genres
2                               chicagogirl  Documentary
9                                 ellebrity  Documentary
18                   til madness do us part  Documentary
23                                  asexual  Documentary
25          dishonesty the truth about lies  Documentary
32             and the pursuit of happiness  Documentary
44                                        1  Documentary
50                                     1 pm  Documentary
56           10 billion whats on your plate  Documentary
62                                   10 mph  Documentary
63          10 questions for the dalai lama  Documentary
93                  100 years at the movies  Documentary
95   100 yen the japanese arcade experience  Documentary
103                           101 rent boys  Documentary
106        102 minutes that changed america  Documentary
115                                 11 x 14  Documentary
121                            112 weddings  Documentary
132                             12 dicembre  Documentary
135                         12 oâclock boys  Documentary
150                           12th delaware  Documentary

In [2]:
pickle_in = open("data_movie.pickle","rb")
data = pickle.load(pickle_in)

In [3]:
data.head(50)

,title,original_title,tagline,overview,genres,index
0,women art revolution,women art revolution,years making,intimate interviews provocative art rare histo...,Documentary,0
1,1 cheerleader camp,1 cheerleader camp,grab spirit sticks,pair horny college guys get summer jobs sexy c...,Comedy Drama,1
2,chicagogirl,chicagogirl,social network takes dictator,childhood bedroom chicago suburbs american tee...,Documentary,2
3,horror,horror,death trending,inspired actual events group year old girls ni...,Drama Mystery Horror Thriller,3
4,1000 on the black,mille dollari sul nero,never provided,johnny liston released prison wrongly served t...,Western,4
5,100000 for ringo,centomila dollari per ringo,never provided,stranger rides rainbow valley hes mistaken for...,Drama Western,5
6,5 a day,5 a day,relationships dont cheap,released jail joins father road,Drama Comedy,6
7,50k and a call girl a love story,50k and a call girl a love story,never provided,ross diagnosed terminal brain cancer given six...,Drama,7
8,999,999,never provided,ever wondered meaning life exist answer vexing...,Animation Drama,8
9,ellebrity,ellebrity,never provided,fame today obsession fame become millions us f...,Documentary,9
10,4917,4917,never provided,judge taken part gold rush hires acting troupe...,None,10
11,71,71,never provided,young british soldier must find way back safet...,Thriller Action Drama War,11
12,d,d,underworld badshah,deshu mechanic dubai comes home mumbai gets em...,Drama Thriller Crime Foreign,12
13,gator bait,gator bait,untamed deadly ruled swamp blazing gun lusciou...,desiree lives deep swamp supports siblings poa...,Action Thriller,13
14,master harold and the boys,master harold and the boys,never provided,master harold black employees ordered call you...,Drama,14
15,neath the arizona skies,neath the arizona skies,hairtrigger action hairtrigger action reissue ...,chris morrell guardian halfindian girl nina he...,Action Western,15
16,night mother,night mother,never provided,happened rare remarkable theatrical experience...,Drama,16
17,r xmas,r xmas,never provided,new york dealer kidnapped wife must try money ...,Drama Thriller,17
18,til madness do us part,feng ai,never provided,director wang bing casts understanding nonjudg...,Documentary,18
19,tis the season for love,tis the season for love,never provided,holiday drama follows outofwork actress return...,Romance TV Movie,19
20,twas the night,twas the night,never provided,mischievous yearold boy irresponsible uncle al...,Family,20
21,twas the night before christmas,twas the night before christmas,never provided,town learns santa claus struck delivery schedu...,Animation Family,21
22,500 days of summer,500 days of summer,almost like falling love,tom joseph gordonlevitt greetingcard writer ho...,Comedy Drama Romance,22
23,asexual,asexual,never provided,facing sex obsessed culture mountain stereotyp...,Documentary,23
24,absolutions pipilottis mistakes,entlastungen pipilottis fehler,never provided,precisely edited startstop rhythm martial beat...,None,24
25,dishonesty the truth about lies,dishonesty the truth about lies,never provided,documentary people lie includes profiles famou...,Documentary,25
26,terror,terror,cover threat,working years counterterrorism informant fbi c...,Thriller Documentary,26
27,untitled,untitled,everyones got opinion,fashionable contemporary art gallerist chelsea...,Drama Comedy Romance,27
28,1,1,everyone wants,three college friends go biggest party year lo...,Thriller Science Fiction,28
29,all the marbles,all the marbles,california dolls best friend harrytogether the...,twobit promoter tries womens wrestling team top,Action Comedy Drama Romance,29
30,and god created woman,et dieuâ¦ crÃ©a la femme,devil invented brigitte bardot,juliette hardy sexual dynamite french coastal ...,Drama Romance,30
31,and justice for all,and justice for all,never provided,ethical baltimore defense lawyer disgusted ram...,Crime Drama Mystery Thriller,31
32,and the pursuit of happiness,and the pursuit of happiness,never provided,louis malle transplant united states set inves...,Documentary,32
33,e fuori nevica,e fuori nevica,never provided,never provided,Comedy,33
34,ing,ing,happiest time life,follows life young woman minah become reserved...,Drama Romance,34
35,tick tick tick,tick tick tick,two nothing common hate surrounds,racial tensions threaten explode black elected...,Drama Action,35
36,45,calibre 45,nobody revenge like woman,kate brutish boyfriend big sell handguns stree...,Drama Crime Thriller,36
37,hack liminality in the case of mai minase,hack liminality in the case of mai minase,never provided,first volume hackliminality series japanese sc...,None,37
38,00 schneider jagd auf nihil baxter,00 schneider jagd auf nihil baxter,verbrechen lohnt,funny clown bratislav metulskie found dead cir...,Comedy Crime,38
39,008 operation exterminate,a 008 operazione sterminio,never provided,british secret service sends agent alberto lup...,Action Comedy Foreign,39
40,009 re cyborg,009 reï¼cyborg,never provided,recyborg follows group nine cyborgs created sh...,Action Animation Science Fiction,40
41,0091 the end of the beginning,009ã1ï¼ã¼ã­ã¼ã­ã¯ãã¤ãï¼ the end of the beginning,forced become perfect killing machine heart steel,marking th anniversary birth shotaro ishinomor...,Action Science Fiction,41
42,0605,0605,never provided,fictional version events led assassination dut...,Drama,42
43,0815,0815,never provided,overview found,War Drama,43
44,1,1,true story drivers risked lives changed sport ...,set golden grand prix racing tells story gener...,Documentary,44
45,1 nenokkadine,1 à°¨à±à°¨à±à°à±à°à°¡à°¿à°¨à±,never provided,gautham rock star suffering mental disorder du...,Action Comedy Romance,45
46,1 chance 2 dance,1 chance 2 dance,never provided,year old aspiring dancer uprooted high school ...,None,46
47,1 litre of tears,ï¼ãªããã«ã®æ¶,never provided,yearold ikeuchi aya ordinary girl daughter fam...,Drama,47
48,1 mile to you,1 mile to you,run heart,teenagers friends accident finds running allow...,Drama Romance,48
49,1 night,1 night,love happen time,thirtysomething elizabeth must decide whether ...,Drama Romance,49

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(data['title'])

In [92]:
#Cosine similarity - using this I can create a kernel. 
# Using cosine similarity, I can get related or close feautes/items/movies as recommendations. 
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [119]:
# Build a 1-dimensional array with movie titles
titles = data['genres']
indices = pd.Series(data.index, index=data['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[0:1]
    movie_indices = [i[0] for i in sim_scores]
    return titles[movie_indices]

In [120]:
print(genre_recommendations('toy story'))

38993    Animation Comedy Family
Name: genres, dtype: object

In [121]:
genre_recommendations('women art revolution')

0    Documentary
Name: genres, dtype: object

In [124]:
genre_recommendations('1 nenokkadine')

45    Action Comedy Romance
Name: genres, dtype: object

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_overview = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english', dtype = 'uint8')
tfidf_matrix_overview =  tf_overview.fit_transform(data['overview'])

C:\Users\Vinay\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:1817: UserWarning: Only (<class 'numpy.float64'>, <class 'numpy.float32'>, <class 'numpy.float16'>) 'dtype' should be used. uint8 'dtype' will be converted to np.float64.
  UserWarning)

In [26]:
tfidf_matrix_overview.shape

(42228, 976857)

In [27]:
tf_overview.get_feature_names()

['aa',
 'aa alcoholic',
 'aa chapter',
 'aa grew',
 'aa group',
 'aa meeting',
 'aa process',
 'aa tennis',
 'aaa',
 'aaa help',
 'aaaron',
 'aaaron kansas',
 'aabgamma',
 'aabgamma dispatched',
 'aachan',
 'aachan okamura',
 'aachan returns',
 'aachans',
 'aachans father',
 'aachans mother',
 'aachi',
 'aachi ssipak',
 'aackerlund',
 'aackerlund historic',
 'aadhavan',
 'aadhavan tamil',
 'aadland',
 'aadland highflying',
 'aaicha',
 'aaicha gho',
 'aakash',
 'aakash determined',
 'aakash past',
 'aakash singer',
 'aake',
 'aake doctors',
 'aake frightened',
 'aake world',
 'aalavandhan',
 'aalavandhan action',
 'aalst',
 'aalst textile',
 'aames',
 'aames tom',
 'aamir',
 'aamir khan',
 'aamir khans',
 'aampas',
 'aampas bars',
 'aampe',
 'aampe departments',
 'aampe network',
 'aampe production',
 'aampe tom',
 'aampes',
 'aampes jerusalem',
 'aampm',
 'aampm introduction',
 'aampr',
 'aampr feels',
 'aanandam',
 'aanandam indian',
 'aang',
 'aang young',
 'aangehouden',
 'aangehouden verdenking',
 'aanmodderfakker',
 'aanmodderfakker comingofage',
 'aapeli',
 'aarakshan',
 'aarakshan story',
 'aarchi',
 'aarchi headstrong',
 'aarchi reach',
 'aarne',
 'aarne vesa',
 'aarno',
 'aarno lamminparras',
 'aaron',
 'aaron accepting',
 'aaron accountant',
 'aaron altman',
 'aaron angela',
 'aaron attacked',
 'aaron biebert',
 'aaron blabey',
 'aaron black',
 'aaron brother',
 'aaron burr',
 'aaron choice',
 'aaron cross',
 'aaron davis',
 'aaron different',
 'aaron doherty',
 'aaron eckhart',
 'aaron enjoys',
 'aaron fights',
 'aaron finds',
 'aaron friends',
 'aaron glen',
 'aaron green',
 'aaron henry',
 'aaron left',
 'aaron meets',
 'aaron michaelss',
 'aaron milton',
 'aaron payne',
 'aaron pillar',
 'aaron riley',
 'aaron roman',
 'aaron samuels',
 'aaron seltzer',
 'aaron silverman',
 'aaron stanford',
 'aaron starts',
 'aaron struggles',
 'aaron swartz',
 'aaron tragedy',
 'aaron tries',
 'aaron vinny',
 'aaron wiesel',
 'aaron wish',
 'aaron works',
 'aaron young',
 'aarons',
 'aarons absense',
 'aarons girls',
 'aarons trained',
 'aarons yvonnes',
 'aarp',
 'aarp membership',
 'aart',
 'aart couple',
 'aarti',
 'aarti boyfriend',
 'aarti despite',
 'aarti living',
 'aarti love',
 'aarti mangal',
 'aarti marries',
 'aarti realize',
 'aarti unable',
 'aartis',
 'aartis joined',
 'aartis stepmother',
 'aarya',
 'aarya allu',
 'aarÃ³n',
 'aarÃ³n fernÃ¡ndez',
 'aarÃ³n young',
 'aasen',
 'aasen engineer',
 'aasen hired',
 'aashirvad',
 'aashirvad cinemas',
 'aashish',
 'aashish chaudhary',
 'aasia',
 'aasia afzaal',
 'aati',
 'aati kya',
 'aatish',
 'aatish kapadia',
 'ab',
 'ab alltjÃ¤nst',
 'ab doderer',
 'ab drevenhaven',
 'ab surveillance',
 'ab svensk',
 'ab svenska',
 'ab yehoshua',
 'aba',
 'aba aba',
 'aba collapses',
 'aba season',
 'aba things',
 'ababa',
 'ababa bright',
 'abacco',
 'abacco dire',
 'aback',
 'aback arrive',
 'aback culture',
 'aback mothers',
 'abacus',
 'abacus bank',
 'abacus federal',
 'abaddon',
 'abaddon hospital',
 'abaddon place',
 'abagnale',
 'abagnale jr',
 'abahachi',
 'abahachi chief',
 'abahachi forced',
 'abahachi needs',
 'abahachi takes',
 'abalaba',
 'abalaba needs',
 'aballay',
 'aballay bad',
 'aballay knows',
 'abalone',
 'abalone arizona',
 'abandon',
 'abandon adoring',
 'abandon adult',
 'abandon agustÃ­n',
 'abandon alpine',
 'abandon boring',
 'abandon comedy',
 'abandon comfortable',
 'abandon compelled',
 'abandon crusade',
 'abandon families',
 'abandon family',
 'abandon filmed',
 'abandon fort',
 'abandon gold',
 'abandon high',
 'abandon island',
 'abandon krusenstjarna',
 'abandon legal',
 'abandon life',
 'abandon like',
 'abandon live',
 'abandon malafemmina',
 'abandon mission',
 'abandon orbit',
 'abandon people',
 'abandon plantation',
 'abandon post',
 'abandon price',
 'abandon reality',
 'abandon return',
 'abandon rose',
 'abandon separatist',
 'abandon sheltered',
 'abandon tommys',
 'abandon volatile',
 'abandon witness',
 'abandon yearold',
 'abandond',
 'abandond building',
 'abandoned',
 'abandoned abused',
 'abandoned accomplice',
 'abandoned actually',
 'abandoned addict',
 'abandoned airport',
 'abandoned allegiances',
 'abandoned amusement',
 'abandoned apartment',
 'abandoned archive',
 'abandoned asylum',
 'abandoned automobile',
 'abandoned baby',
 'abandoned balfour',
 'abandoned barren',
 'abandoned based',
 'abandoned beach',
 'abandoned bears',
 'abandoned believed',
 'abandoned betrayed',
 'abandoned birth',
 'abandoned boxcar',
 'abandoned boyfriend',
 'abandoned brother',
 'abandoned buddhist',
 'abandoned building',
 'abandoned buildings',
 'abandoned bulldog',
 'abandoned camp',
 'abandoned caravan',
 'abandoned castle',
 'abandoned celebrated',
 'abandoned centuries',
 'abandoned chicago',
 'abandoned child',
 'abandoned childhood',
 'abandoned children',
 'abandoned chinese',
 'abandoned church',
 'abandoned city',
 'abandoned club',
 'abandoned coal',
 'abandoned confused',
 'abandoned construction',
 'abandoned country',
 'abandoned court',
 'abandoned coworkers',
 'abandoned daughter',
 'abandoned dazed',
 'abandoned death',
 'abandoned desert',
 'abandoned displaced',
 'abandoned divorced',
 'abandoned dj',
 'abandoned dreamer',
 'abandoned drunken',
 'abandoned earth',
 'abandoned eighteen',
 'abandoned emerge',
 'abandoned emma',
 'abandoned enigmatic',
 'abandoned estranged',
 'abandoned eventually',
 'abandoned factory',
 'abandoned families',
 'abandoned family',
 'abandoned farm',
 'abandoned farmhouse',
 'abandoned father',
 'abandoned fiancÃ©',
 'abandoned fish',
 'abandoned fishing',
 'abandoned forgotten',
 'abandoned formergroupie',
 'abandoned fraternity',
 'abandoned freight',
 'abandoned gas',
 'abandoned gay',
 'abandoned girl',
 'abandoned graveyard',
 'abandoned gun',
 'abandoned hands',
 'abandoned hangar',
 'abandoned haunted',
 'abandoned help',
 'abandoned high',
 'abandoned home',
 'abandoned hospital',
 'abandoned hostel',
 'abandoned house',
 'abandoned hunted',
 'abandoned husband',
 'abandoned hut',
 'abandoned industrial',
 'abandoned infant',
 'abandoned insane',
 'abandoned island',
 'abandoned isle',
 'abandoned isnt',
 'abandoned jÃ´ji',
 'abandoned kids',
 'abandoned kingdom',
 'abandoned launch',
 'abandoned left',
 'abandoned legally',
 'abandoned lepers',
 'abandoned listened',
 'abandoned local',
 'abandoned lodge',
 'abandoned long',
 'abandoned lover',
 'abandoned madhouse',
 'abandoned manevolant',
 'abandoned mansion',
 'abandoned meet',
 'abandoned mental',
 'abandoned michael',
 'abandoned middle',
 'abandoned military',
 'abandoned mineshaft',
 'abandoned missile',
 'abandoned mobile',
 'abandoned monastery',
 'abandoned months',
 'abandoned moon',
 'abandoned morten',
 'abandoned mother',
 'abandoned motorcar',
 'abandoned mountains',
 'abandoned moved',
 'abandoned musical',
 'abandoned musichalls',
 'abandoned naked',
 'abandoned nature',
 'abandoned navigates',
 'abandoned neerdowell',
 'abandoned new',
 'abandoned newborn',
 'abandoned opal',
 'abandoned orbiting',
 'abandoned order',
 'abandoned orphanage',
 'abandoned outpost',
 'abandoned pans',
 'abandoned parents',
 'abandoned park',
 'abandoned picnic',
 'abandoned planet',
 'abandoned plantation',
 'abandoned plot',
 'abandoned polar',
 'abandoned police',
 'abandoned possessions',
 'abandoned power',
 'abandoned prison',
 'abandoned probe',
 'abandoned prostitute',
 'abandoned psychiatric',
 'abandoned ranch',
 'abandoned resolute',
 'abandoned roadside',
 'abandoned robot',
 'abandoned ruins',
 'abandoned russian',
 'abandoned school',
 'abandoned sector',
 'abandoned series',
 'abandoned shack',
 'abandoned shaft',
 'abandoned shipwreck',
 'abandoned silo',
 'abandoned singapore',
 'abandoned site',
 'abandoned sociallyrejected',
 'abandoned spacecraft',
 'abandoned spaceship',
 'abandoned special',
 'abandoned spot',
 'abandoned straight',
 'abandoned strange',
 'abandoned street',
 'abandoned stretch',
 'abandoned struggles',
 'abandoned suburban',
 'abandoned subway',
 'abandoned susans',
 'abandoned takes',
 'abandoned team',
 'abandoned teen',
 'abandoned teenage',
 'abandoned theatre',
 'abandoned theme',
 'abandoned tower',
 'abandoned town',
 'abandoned towns',
 'abandoned trail',
 'abandoned trailers',
 'abandoned train',
 'abandoned try',
 'abandoned uncovers',
 'abandoned underground',
 'abandoned usual',
 'abandoned video',
 'abandoned villa',
 'abandoned village',
 'abandoned vintage',
 'abandoned violent',
 'abandoned wanted',
 'abandoned warehouse',
 'abandoned watermill',
 'abandoned weather',
 'abandoned weeks',
 'abandoned went',
 'abandoned wife',
 'abandoned wind',
 'abandoned wing',
 'abandoned witches',
 'abandoned woman',
 'abandoned women',
 'abandoned wood',
 'abandoned yacht',
 'abandoned yearold',
 'abandoned years',
 'abandoned young',
 'abandoning',
 'abandoning alfonso',
 'abandoning bright',
 'abandoning child',
 'abandoning classes',
 'abandoning deadend',
 'abandoning homes',
 'abandoning hope',
 'abandoning love',
 'abandoning night',
 'abandoning project',
 'abandoning recaptured',
 'abandoning taking',
 'abandoning thoughts',
 'abandonment',
 'abandonment challenge',
 'abandonment complicated',
 'abandonment consensual',
 'abandonment decides',
 'abandonment dislocated',
 'abandonment eternal',
 'abandonment god',
 'abandonment illustrated',
 'abandonment issues',
 'abandonment observing',
 'abandonment obsolescence',
 'abandonment private',
 'abandonment springs',
 'abandonment things',
 'abandonment tries',
 'abandonment unknown',
 'abandonment values',
 'abandonment wife',
 'abandons',
 'abandons aunt',
 'abandons blacky',
 'abandons cab',
 'abandons car',
 'abandons career',
 'abandons carlo',
 'abandons child',
 'abandons colony',
 'abandons damaged',
 'abandons dull',
 'abandons family',
 'abandons fiancÃ©e',
 'abandons flagg',
 'abandons foreclosed',
 'abandons friend',
 'abandons game',
 'abandons girlfriend',
 'abandons given',
 'abandons horrified',
 'abandons iraqi',
 'abandons jeff',
 'abandons laila',
 'abandons large',
 'abandons leave',
 'abandons leo',
 'abandons life',
 'abandons making',
 'abandons middleclassed',
 'abandons mother',
 'abandons old',
 'abandons order',
 'abandons phantoms',
 'abandons pierre',
 'abandons plans',
 'abandons platoon',
 'abandons posh',
 'abandons post',
 'abandons princess',
 'abandons revolution',
 'abandons ring',
 'abandons riot',
 'abandons safety',
 'abandons saloon',
 'abandons self',
 'abandons successful',
 'abandons teenaged',
 'abandons thoughts',
 'abandons vocation',
 'abandons wife',
 'abandons woman',
 'abar',
 'abar make',
 'abard',
 'abard survives',
 'abargil',
 'abargil israeli',
 'abas',
 'abas continent',
 'abatcha',
 'abatcha orders',
 'abates',
 'abates counters',
 'abba',
 'abba hit',
 'abba late',
 'abbaji',
 'abbaji head',
 'abbas',
 'abbas burmawalla',
 'abbas famous',
 'abbas film',
 'abbas jackie',
 'abbas kiarostami',
 'abbas manohar',
 'abbas megasuccessful',
 'abbas preetha',
 'abbas sanjay',
 'abbas tyrewala',
 'abbasi',
 'abbasi billa',
 'abbasi starts',
 'abbasi underworld',
 'abbasis',
 'abbasis deals',
 'abbass',
 'abbass brotherinlaw',
 'abbe',
 'abbe edmond',
 'abbe faria',
 'abbe tells',
 'abbe told',
 'abbe wool',
 'abberline',
 'abberline opiumhuffing',
 'abbes',
 'abbes petz',
 'abbess',
 'abbess institution',
 'abbess let',
 'abbess severe',
 'abbess sister',
 'abbey',
 'abbey curran',
 'abbey essex',
 'abbey founded',
 'abbey lincoln',
 'abbey monks',
 'abbey st',
 'abbey walls',
 'abbie',
 'abbie came',
 'abbie falls',
 'abbie freespirited',
 'abbie gay',
 'abbie gideon',
 'abbie hoffman',
 'abbie intense',
 'abbie polin',
 'abbie propulsive',
 'abbie tries',
 'abbies',
 'abbies life',
 'abbot',
 'abbot decides',
 'abbot hayes',
 'abbot marrying',
 'abbot mission',
 'abbot monastery',
 'abbot recruits',
 'abbot schools',
 'abbot scoops',
 'abbot speaker',
 'abbott',
 'abbott amp',
 'abbott anonymously',
 'abbott broadway',
 'abbott commander',
 'abbott convinces',
 'abbott costello',
 'abbott costellos',
 'abbott crime',
 'abbott crushed',
 'abbott forced',
 'abbott hopes',
 'abbott known',
 'abbott left',
 'abbott lou',
 'abbott moves',
 'abbott pal',
 'abbott patriarch',
 'abbott professors',
 'abbott sisters',
 'abbott traveling',
 'abbott try',
 'abbott weejie',
 'abbotts',
 'abbotts offandon',
 'abbotts sacrifice',
 'abbotts secondincommand',
 'abby',
 'abby allshard',
 'abby andrew',
 'abby best',
 'abby breaks',
 'abby concert',
 'abby decides',
 'abby develops',
 'abby eightyearold',
 'abby epsteins',
 'abby experimenting',
 'abby faces',
 'abby gives',
 'abby good',
 'abby involved',
 'abby jennifer',
 'abby jensen',
 'abby knight',
 'abby mcclure',
 'abby mistaken',
 'abby navigates',
 'abby paige',
 'abby pregnant',
 'abby russell',
 'abby snow',
 'abby sought',
 'abby stroke',
 'abby style',
 'abby team',
 'abby think',
 'abby thirtysomething',
 'abby tries',
 'abby work',
 'abbys',
 'abbys attractive',
 'abbys family',
 'abbys wealthy',
 'abbys wishes',
 'abbÃ©',
 'abbÃ© athos',
 'abc',
 'abc appearance',
 'abc approved',
 'abc books',
 'abc drama',
 'abc familys',
 'abc gates',
 'abc million',
 'abc player',
 'abc sitcom',
 'abcs',
 'abcs death',
 'abctv',
 'abctv sitcom',
 'abdel',
 'abdel observed',
 'abdel rahman',
 'abdel terribly',
 'abdelatif',
 'abdelatif kechiche',
 'abdelhakim',
 'abdelhakim rachid',
 'abdelilah',
 'abdelilah rachid',
 'abdelkader',
 'abdelkader leader',
 'abdels',
 'abdels thieves',
 'abdicate',
 'abdicate marry',
 'abdicated',
 'abdicated murdered',
 'abdicates',
 'abdicates george',
 'abdicates travels',
 'abdicating',
 'abdicating throne',
 'abdication',
 'abdication decline',
 'abdominal',
 'abdominal cavity',
 'abdou',
 'abdou tragically',
 'abdu',
 'abdu fares',
 'abduct',
 'abduct bring',
 'abduct deadly',
 'abduct frame',
 'abduct group',
 'abduct himmat',
 'abduct jessica',
 'abduct johnny',
 'abduct kaspar',
 'abduct louis',
 'abduct mermaid',
 'abduct mom',
 'abduct returns',
 'abduct rich',
 'abduct second',
 'abduct slumbering',
 'abduct socialite',
 'abduct sonia',
 'abduct teenage',
 'abduct wait',
 'abduct young',
 'abducted',
 'abducted aliens',
 'abducted alive',
 'abducted alqaeda',
 'abducted ambassador',
 'abducted american',
 'abducted baby',
 'abducted beaten',
 'abducted beera',
 'abducted blue',
 'abducted boyfriend',
 'abducted branded',
 'abducted brought',
 'abducted called',
 'abducted children',
 'abducted cloned',
 'abducted couples',
 'abducted daughters',
 'abducted days',
 'abducted death',
 'abducted deranged',
 'abducted evil',
 'abducted extraterrestrials',
 'abducted finds',
 'abducted follows',
 'abducted forced',
 'abducted group',
 'abducted held',
 'abducted hold',
 'abducted hospital',
 'abducted imprisoned',
 'abducted incarcerated',
 'abducted joined',
 'abducted kgb',
 'abducted mans',
 'abducted members',
 'abducted mighty',
 'abducted minions',
 'abducted morocco',
 'abducted murdered',
 'abducted mysterious',
 'abducted nekrons',
 'abducted ordered',
 'abducted outlaws',
 'abducted partner',
 'abducted patients',
 'abducted people',
 'abducted platoon',
 'abducted privileged',
 'abducted procured',
 'abducted quill',
 'abducted ravana',
 'abducted real',
 'abducted rebel',
 'abducted rest',
 'abducted returned',
 'abducted ruthless',
 'abducted shot',
 'abducted sister',
 'abducted sold',
 'abducted spend',
 'abducted spoiled',
 'abducted strange',
 'abducted suburban',
 'abducted sudanese',
 'abducted taken',
 'abducted taxi',
 'abducted terrible',
 'abducted terrorist',
 'abducted thieves',
 'abducted thrust',
 'abducted tortured',
 'abducted underground',
 'abducted wedding',
 'abducted woman',
 'abducted women',
 'abducted yacht',
 'abducted years',
 'abducted young',
 'abductee',
 'abductee baron',
 'abducting',
 'abducting humans',
 'abducting imprisoning',
 'abducting killing',
 'abducting shock',
 'abducting street',
 'abducting unholy',
 'abducting younger',
 'abduction',
 'abduction balks',
 'abduction beast',
 'abduction betrayal',
 'abduction cannibals',
 'abduction case',
 'abduction discover',
 'abduction duncans',
 'abduction fashion',
 'abduction girlfriend',
 'abduction goes',
 'abduction marriage',
 'abduction prostitution',
 'abduction raghuvirs',
 'abduction suspected',
 'abductionandconfession',
 'abductionandconfession model',
 'abductions',
 'abductions abducted',
 'abductions bonesetter',
 'abductions cross',
 'abductions jumps',
 'abductions mathayus',
 'abductions worldly',
 'abductor',
 'abductor discovering',
 'abductor seemingly',
 'abductor takes',
 'abductor years',
 'abductors',
 'abductors christmas',
 'abductors demand',
 'abductors fighting',
 'abductors skin',
 'abducts',
 'abducts beautiful',
 'abducts bulma',
 'abducts carries',
 'abducts chevalier',
 'abducts children',
 'abducts christine',
 'abducts cody',
 'abducts daughter',
 'abducts defiles',
 'abducts doctor',
 'abducts dwarves',
 'abducts escapes',
 'abducts forcedly',
 'abducts foster',
 'abducts god',
 'abducts insane',
 'abducts kamya',
 'abducts korean',
 'abducts lazars',
 'abducts living',
 'abducts mistreats',
 'abducts morally',
 'abducts owner',
 'abducts previous',
 'abducts princess',
 'abducts series',
 'abducts strongwilled',
 'abducts sun',
 'abducts young',
 'abdul',
 'abdul alkhabyyr',
 'abdul chief',
 'abdul rahman',
 'abduljabbar',
 'abduljabbar gives',
 'abduljabbars',
 'abduljabbars legendary',
 'abdullah',
 'abdullah gang',
 'abdullah kerem',
 'abdullah neighborhood',
 'abdullah race',
 'abdullahs',
 'abdullahs harem',
 'abdullahsukhov',
 'abdullahsukhov women',
 'abdurrahman',
 'abdurrahman ibn',
 'abe',
 'abe begins',
 'abe eddie',
 'abe fields',
 'abe gets',
 'abe good',
 'abe habitue',
 'abe king',
 'abe lincoln',
 'abe lincolns',
 'abe saperstein',
 'abe sapien',
 'abe speaking',
 'abe strangled',
 'abe thoughtful',
 'abedin',
 'abedin nexhep',
 'abednego',
 'abednego fiery',
 'abel',
 'abel basic',
 'abel boxer',
 'abel charles',
 'abel convicted',
 'abel eccentric',
 'abel ferrara',
 'abel gance',
 'abel immediately',
 'abel left',
 'abel madly',
 'abel mustafov',
 'abel older',
 'abel powell',
 'abel rosenberg',
 'abel sensitive',
 'abel shaddick',
 'abel story',
 'abel thrown',
 'abel tiffauges',
 'abel tripaldi',
 'abelardo',
 'abelardo stranger',
 'abels',
 'abels corona',
 'abels father',
 'abels plan',
 'abercrombie',
 'abercrombie fellow',
 'abercrombie passed',
 'aberdeen',
 'aberdeen story',
 'aberdeen washington',
 'abernathy',
 'abernathy best',
 'abernathy possibly',
 'abernathy return',
 'abernathy verge',
 'aberrations',
 'aberrations perversions',
 'aberrations student',
 'abes',
 ...]